* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
}
#main-container {
    margin: .5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13% 1fr 8%;
    justify-content: center;
    gap: .5em;
    & > * {
        border: .2em solid black;
        border-radius: .8em;
        padding: .5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
}