#main-container {
    overflow-y: scroll;
    overflow-x: hidden;
    border: .2em solid black;
}
#main-container > section {
    padding: .5em;
    border-bottom: .1em solid red;
    display: grid;
    grid-auto-flow: row dense;
}
#main-container > section > h2 {
    color: rgb(25, 0, 255);
    font-size: 6vw;
    border-radius: .3em;
    text-align: center;

}
#main-container > section h3 {
    color: rgb(0, 138, 23);
    font-size: 4vw;
}
li, p, h4, span, summary, figcaption {
    font-size: 3vw;
    font-weight: 600;
}
.gallary {
    overflow-y: hidden;
    overflow-x: scroll;
}
figure {
    margin-top: .4em;
}
figure > div {
    height: 50vh;
    display: grid;
    grid-auto-flow: column dense;
    gap: .4em;
}
img {
    height: 50vh;
}
/* My Info */
.my-info caption {
    text-align: right;
    color: rgb(77, 0, 29);
    font-weight: 900;
    font-size: 5vw;
}
.my-info th, td {
    border: .1em solid red;
    font-weight: 900;
    font-size: 5vw;
}
.my-info td {
    padding-right: .3em;
    font-weight: 300;
}
/* my-skills */
.my-skills > *:nth-child(2) {
    border-bottom: .3em solid black;
    padding-bottom: .4em;
    margin-bottom: .4em;
}
#Technical > li {
    color: rgb(167, 109, 35);
}
#Technical > li ul, ol {
    color: rgb(35, 167, 160);
}
#Technical summary {
    color: rgb(167, 44, 35);
}
#Technical details ol {
    color: rgb(152, 35, 167);
}
#Technical details ul {
    color: rgb(152, 35, 167);
}

/* ======================== */
/* My Goals */
.my-goals h3 {
    margin-top: .7em;
}
.my-goals > h3 span {
    color: red;
}
.my-goals p span {
    color: rgb(7, 128, 128);
}
p span:nth-child(1) {
    color: rgb(148, 71, 0);
}
p span:nth-child(2) {
    color: rgb(0, 138, 148);
}
p span:nth-child(3) {
    color: rgb(123, 0, 148);
}
p span:nth-child(4) {
    color: rgb(148, 0, 7);
}
p span:nth-child(5) {
    color: rgb(92, 112, 0);
}


/* My Eford */
p {
    text-align: justify;
}
/*  */
@media only screen and (orientation: landscape) {
    .my-info th, td {
        font-size: 3vw;
    }
    .my-info caption {
        font-size: 3vw;
    }
    #main-container > section > h2 {
        font-size: 4vw;
    }
    #main-container > section h3 {
        font-size: 3vw;
    }
    figure > div {
        height: 80vh;
    }
    img {
        height: 80vh;
    }
}