#main-container {
    overflow-y: scroll;
    overflow-x: hidden;
    border: .2em solid black;
    border-radius: .6em;
    /* padding: .4em; */
    /* margin: .1em; */
}
#main-container > section {
    padding: .5em;
    border-bottom: .1em solid red;
    display: grid;
    grid-auto-flow: row dense;
}
#main-container > section > h2 {
    color: rgb(25, 0, 255);
    font-size: 6vw;
    border-bottom: .2em solid;
    border-radius: .6em;
    padding-bottom: .4em;
    margin-bottom: .3em;
    text-align: center;
}
#main-container > section h3 {
    color: rgb(0, 138, 23);
    font-size: 4vw;
}
li, p, h4, span, summary {
    font-size: 3vw;
    font-weight: 600;
}

/* My Info */
.my-info caption {
    text-align: right;
    color: rgb(77, 0, 29);
    font-weight: 900;
    font-size: 5vw;
}
.my-info th, td {
    border: .1em solid red;
    font-weight: 900;
    font-size: 5vw;
}
.my-info td {
    padding-right: .3em;
    font-weight: 300;
}
/* my-skills */
.my-skills article:nth-child(2) {
    border-bottom: .3em solid black;
    padding: .4em;
    margin: 0 0 .4em;
}
#Technical > li {
    color: rgb(167, 109, 35);
}
#Technical > li ul, ol {
    color: rgb(35, 167, 160);
}
#Technical summary {
    color: white(167, 44, 35);
    width: 5em;
}
#Technical details ol {
    color: rgb(152, 35, 167);
}
#Technical details ul {
    color: rgb(152, 35, 167);
}

/* ======================== */
/* My Goals */
.my-goals h3 {
    margin-top: .7em;
}
.my-goals > h3 span {
    color: red;
}
.my-goals p span {
    color: rgb(7, 128, 128);
}
p span:nth-child(1) {
    color: rgb(148, 71, 0);
}
p span:nth-child(2) {
    color: rgb(0, 138, 148);
}
p span:nth-child(3) {
    color: rgb(123, 0, 148);
}
p span:nth-child(4) {
    color: rgb(148, 0, 7);
}
p span:nth-child(5) {
    color: rgb(92, 112, 0);
}


/* My Eford */
.my-eford p {
    color: rgb(255, 0, 0);
}
.my-eford p, h4 {
    text-align: justify;
}
.my-eford h4 {
    color: white;  
    background-color: rgb(80, 80, 99);  
    text-align: center;
    padding: .3em;
    margin: .4em;
}
.my-eford div h5 {
    color: red;
}
.my-eford div h4 span:nth-child(2) {
    color: rgb(229, 255, 0);
}
.my-eford div h4 span:nth-child(3) {
    color: rgb(0, 255, 34);
}
/*  */
.my-goals {
    display: grid;
    grid-template-columns: 1fr;
}
.my-goals > div {
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column dense;
    gap: .4em;
}
.my-goals > div > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: .4em;
}