/* portrait */
@media (min-width: 780px) or (orientation: portrait) {
    #aside {
        position: sticky;
        top: 0;
    }
    #footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border: .2em solid black;
        padding: 0 .5em;
        font-size: 3vw;
    }
    body {
        min-height: 100vh;
        padding: .4em;
        display: grid;
        grid-template-rows: 93vh auto;
        gap: .3em;
    }
}
/* landscape */
@media only screen and (orientation: landscape) {
    #aside a {
        font-size: 2vw;
        position: static;
    }
}




@media only screen and (orientation: landscape) {
    .my-info th, td {
        font-size: 3vw;
    }
    .my-info caption {
        font-size: 3vw;
    }
    #main-container > section > h2 {
        font-size: 4vw;
    }
    #main-container > section h3 {
        font-size: 3vw;
    }
    figure > div {
        height: 80vh;
    }
    img {
        height: 80vh;
    }
}