/* portrait */
@media screen and (orientation: portrait) {
    body {
        max-height: 100vh;
        padding: .4em .2em 0;
        display: grid;
        grid-template-rows: 93vh auto;
        gap: .5em;
    }
}

/* landscape */
@media screen and (orientation: landscape) {
    body {
        display: grid;
        overflow-y: scroll;
        padding: .5em .5em 1em;
        gap: .8em;
    }
    #aside {
        background-color: aquamarine;
    }
    #aside a {
        font-size: 2vw;
    }
    .my-info th, td {
        font-size: 3vw;
    }
    .my-info caption {
        font-size: 3vw;
    }
    #main-container > section > h2 {
        font-size: 4vw;
    }
    #main-container > section h3 {
        font-size: 3vw;
    }
    figure > div {
        height: 80vh;
    }
    img {
        height: 80vh;
    }
}
    