figure {
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: .4em;
}
figure > div {
    height: 50vh;
    display: grid;
    grid-auto-flow: column dense;
    gap: .4em;
}
img {
    height: 50vh;
}
.my-eford {
    overflow-x: hidden;
}
.my-eford figure {
    overflow-x: scroll;
}